body, input {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #8FB4BD;
  padding: 80px 0 0 0;
}

body {
  background-image: url(../img/foto.jpg);
  max-width: 100%;
  height: 1200px;
  width: auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -15px;
  margin-bottom: 100px;
}

header {
  height: 80px;
  width: 100%;
  background-color: #0A405A;
  top: 0;
  left: 0;
  position: absolute;

}
header input {
  width: 100%;
  height: 75px;
  margin-left: 4%;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  background-color: #0A405A;
  border-radius: 5px;
  border: 0px;
  outline: none;
  box-shadow: none;

}
header button {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 15px;
  right: 18px;
  background: #DC762C;
  border: 0px;
  box-shadow: none;
  border-radius: 75px;
  outline: none;
  cursor: pointer;

}
.container {
width: 100%;
float:left;
padding: 15px;

}

header button svg {
  width: 50px;
  height: 50px;
}
ul.todo {
  width: : 100%
  float: left;
}
ul.todo li {
  width: 40%;
  height: 50px;
  float: left;
  font-size: 25px;
  line-height: 45px;
  color: #fff;
  text-indent: 25px;
  background: #0A405A;
  border-radius: 5px;
  position: relative;
  margin: 0 0 10px 10px;
  list-style-type: none;

}
ul.todo li .button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}
ul.todo li .button button {
  width: 50px;
  height: 50px;
  float: left;
  background: none;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}
ul.todo li .button button svg {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%auto;
  margin: -16px 0 0 -11px
}
}
